<% if video_learnings.any? %>
  <div id="collection_videos" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% video_learnings.each do |vl| %>
      <%= render "collections/video_in_collection", video_learning: vl, collection: collection %>
    <% end %>
  </div>
<% else %>
  <div id="collection_videos">
    <div id="empty_videos_state">
      <%= render "collections/empty_videos" %>
    </div>
  </div>
<% end %>
